*{
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
}

.card-container {
  width: 330px;
  display: inline-block;
  border: 1px solid #f0f0f0;
  margin: 7px;
  /* height: 350px; */
  position: relative;
  overflow: hidden;
  align-items: flex-end;
  justify-content: flex-end;
}

.card-title {
  text-align: center;
  padding: 20px;
  vertical-align: middle;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.card-title > a{
  text-decoration: none;
  padding: 10px;
  color: #2e51a2;
}

.card-title > a:hover{
  text-decoration: underline;
  padding: 10px;
}

.card-info {
  text-align: center;
  background-color: #f8f8f8;
  padding: 1px 6px;
  color: grey;
  font-size: 11px;
  height: 22px;
  vertical-align: middle;
  position: relative;
  line-height: 22px;

}

.card-genre {
  background-color: #f0f0f0;
  text-align: center;
}


.card-genre ul > li {
  display: inline-block;
  background-color: #fff;
  border: #e1e7f5 1px solid;
  border-radius: 5px;
  color: #787878;
  font-size: 9px;
  line-height: 1.0em;
  margin-bottom: 6px;
  margin-right: 4px;
  padding: 1px 4px;
}

.card-genre ul li a{
  color: #787878;
  text-decoration: none;
}

.card-genre ul li:hover > a{
  color: black;
}

.card-main {
  display: flex;
  flex-direction: row;
}

.card-main-img {
  width: 50%;
  height: 100%;
  float: left;
}

.card-main-img > img {
  width: 100%;
  height: 100%;
}

.card-main-information {
  width: 50%;
  background-color: #f8f8f8;
  overflow: scroll;
  /* height: max-content; */
}
.card-main-description {
  font-size: 11px;
  padding: 6px 4px 0 8px;
  height: 140px;
  overflow: scroll;
  background-color: white;
}

.card-main-detail{
  list-style: none;
  padding: 6px 4px 6px 8px;
  background-color: #f8f8f8;
  font-size: 11px;
  font-weight: 700;
  /* height:fit-content; */
}

.card-misc {
  background-color: #f0f0f0;
    /* border-top: 1px solid #f0f0f0; */
    /* bottom: 0; */
    /* -webkit-box-direction: normal; */
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-pack: center; */
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 22px; 
    left: 0;
    padding: 2px;
    position: relative;
    width: 330px;
    z-index: 2;
}


.card-misc-container {
  color: #545454;
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  text-align: center;
  width: 50%;
  
}

.card-misc-information {
  color: #545454;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-misc-info {
  font-weight: 700;
  width: 50%;

}

.card-misc-info > i {
  padding-right: 5px;
}

#card-misc-source{
  font-weight: normal;
  display: inline;
}

#card-misc-detail{
  display: inline;
  color: #1c439b;
  text-decoration: none;
  font-weight: normal;
}

#card-misc-detail:hover{
  display: inline;
  color: #1c439b;
  text-decoration: underline;  
}



